<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
    <title>📸 Caption-This</title>
</head>
<body>

    
    <div class="heading">
        <img src="../static/images/photo-1.1s-200px (2).svg" alt="photo-logo" class="heading-logo">
        <h1>CAPTION THIS</h1>
    </div>



    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" class="top-curve">
        <path fill="#00cba9" fill-opacity="1" d="M0,192L48,170.7C96,149,192,107,288,106.7C384,107,480,149,576,186.7C672,224,768,256,864,256C960,256,1056,224,1152,202.7C1248,181,1344,171,1392,165.3L1440,160L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path>
    </svg>

    <section class="mid-content">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. A nobis officiis sed assumenda nisi, dicta labore architecto facere accusamus.
             Et aperiam accusantium officia veritatis architecto, perspiciatis praesentium maiores. Expedita, vitae.
        </p>

        <form action="" class="upload-form">
            <div class="upload">
                <input type="file" id="myFile" name="filename" class="upload-button">
                <input type="submit">
            </div>

        </form>
    </section>

    
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" class="bottom-curve">
        <path fill="#00cba9" fill-opacity="1" d="M0,288L48,256C96,224,192,160,288,144C384,128,480,160,576,144C672,128,768,64,864,74.7C960,85,1056,171,1152,202.7C1248,235,1344,213,1392,202.7L1440,192L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
    </svg>


    
</body>
</html>